  /* contact button */
  .cb1 {
    --width: 88px;
    --height: 40px;
    padding:0 4px;
    --button-color: #000000;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight:500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s, transform 0.3s; /* 添加 transform 过渡 */
    border-radius: 999px;
    box-shadow: inset 0 0 0 0px #000000;
    cursor: pointer;
}

.cb1::before {
    position: absolute;
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
}

.cb1::after {
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    left: calc(50% - 10px);
}

.cb1::after, .cb1::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.cb1-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cb1-wrapper, .cb1-text, .cb1-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.cb1-text {
    top: 0
}

.cb1-text, .cb1-icon {
    transition: top 0.3s;
}

.cb1-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cb1-icon svg {
    width: 24px;
    height: 24px;
}

.cb1:hover {
    background: transparent;
    box-shadow: inset 0 0 0 2px #000000;
}

.cb1:hover .cb1-text {
    top: -100%;
}

.cb1:hover .cb1-icon {
    top: 0;
}

.cb1:hover::before, .cb1:hover::after {
    opacity: 1;
    visibility: visible;
}

.cb1:active {
  transform: scale(0.9);
}
  