.container {
  width: 100%;
  height: 100%;
  background-color: #292929;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.swiper {
  height: 100%;
  width: 100%;
}

.image__wrapper {
  width: 100%;
  height: 100%;
}

.image__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 分页器 */
.swiper-pagination {
  position: absolute;
  bottom: 24px !important;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px !important;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.35;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}

/* 箭头 */

/* 鼠标进入 .entranceimg 区域时显示按钮 */
.entranceimg:hover .swiper-button-prev,
.entranceimg:hover .swiper-button-next {
  opacity: 0.65;
  transition: opacity 0.2s ease; /* 添加过渡效果 */
}

/* 鼠标悬停在按钮上时透明度变为 1 */
.entranceimg .swiper-button-prev:hover,
.entranceimg .swiper-button-next:hover {
  opacity: 1;
  transition: opacity 0.2s ease; /* 添加过渡效果 */
}


.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.2s ease; /* 添加过渡效果 */
}


.swiper-button-prev {
  left: 24px;
}

.swiper-button-next {
  right: 24px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* 箭头图标 */
.swiperiocn1 {
  opacity: 1;
}

